
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.main-nav a:hover { 
    background-color: #1F8EFA;
    color: white;
  }

.login a:hover {
    background-color: #05C985;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #1F8EFA;
	font-size: 16px;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	justify-content: flex-end;	
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		justify-content: flex-end;
		
	}

}

/* .mainMap {
	border: 1px solid blue;
	position: absolute;
} */

.search {
	margin-left: 299px;
    margin-top: -378px;
}

.searchText {
	font-family: Libre Franklin;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 68px;
    color: #FFFFFF;
    margin-left: 52px;
}
