/* 
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root{
    width: 100%
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.main-nav a:hover { 
    background-color: #1F8EFA;
    color: white;
  }

.login a:hover {
    background-color: #05C985;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}


.logo{
	margin-top: 20px;
	margin-left: -198px;
    width: 2000px;
}

.main-nav a {
	color: #1F8EFA;
	font-size: 16px;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	justify-content: flex-end;	
} */


/* ================================= 
  Media Queries
==================================== */




/* @media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
		width: 1363px;
		margin-left: 192px;
	}
	.header {
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
}

@media (min-width: 1025px) {
	.header {
		justify-content: flex-end;
		
	}

} */

/* .mainMap {
	border: 1px solid blue;
	position: absolute;
} */

/* .search {
	margin-left: 299px;
    margin-top: -378px;
}

.searchText {
	font-family: Libre Franklin;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 68px;
    color: #FFFFFF;
    margin-left: 52px;
}

.middleContent {
	display: flex;
    margin-top: 305px;
    margin-left: 28px;
}

.middleText {
	color: #1F8EFA;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 200;
    font-size: 38px;
    line-height: 40px;
    margin-top: 89px;
    margin-left: 120px;
}

.middleText1 {
	font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 229px;
    margin-left: -318px;	
}

.travelGlobe {
    width: 473px;
    margin-left: 201px;
    margin-right: -35px;
}

.middleContent2 {
	display: flex;
}

.movers {
	position: absolute;
    width: 569px;
    height: 490px;
    left: 140px;
    top: 1171px;
    z-index: 1;
}

.greyBox {
	position: absolute;
    width: 967px;
    height: 676px;
    left: 532px;
    top: 1100px;
    background: #5A6F80;
    opacity: 0.7;
}

.greyHeader {
	position: absolute;
	width: 220px;
	height: 68px;
	left: 187px;
    top: 9px;
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 56px;
	line-height: 68px;
	color: #011bd6;
}

.greyHeader2 {
	font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    margin-top: 94px;
    margin-left: 84px;
}

.greyText {
	position: absolute;
    width: 842px;
    height: 310px;
    left: 100px;
    top: 153px;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #000000;

}

.travelPic {
	position: absolute;
    width: 629px;
    height: 541px;
    left: 669px;
    top: 1473px;
}

.middleContent3 {
	display: flex;
}

.header3 {
	position: absolute;
	width: 418px;
	height: 68px;
	left: 540px;
	top: 2000px;
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 56px;
	line-height: 68px;
	text-align: center;
	color: #1F8EFA;
}

.header3Text {
	position: absolute;
    width: 1319px;
    height: 132px;
    left: 95px;
    top: 2080px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.middleContent4 {
	display: flex;
}

.robberPic {
    position: absolute;
    width: 311px;
    height: 162px;
    left: 776px;
    top: 2161px;
}

.robberMap {
	position: absolute;
    width: 1200px;
    height: 528px;
    left: 149px;
    top: 2308px;
}

.middleContent5 {
	display: flex;
}

.greyArea {
	position: absolute;
    width: 1583px;
    height: 276px;
    left: 0px;
    top: 2823px;
    background: #ACB7BF;
}

.header4 {
	position: absolute;
    width: 755px;
    height: 64px;
    left: 140px;
    top: 14px;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 68px;
    color: #1F8EFA;
}

.header4Text {
	position: absolute;
    width: 1319px;
    height: 99px;
    left: 178px;
    top: 113px;
    ont-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 33px;
    color: #000000;
}

.emailIcon {
	position: absolute;
    left: 64.33%;
    right: 8.33%;
    top: 63.67%;
    bottom: 17.67%;
}

.footer {
	display: flex;
	margin-top: 2259px;
    background: white;
}

.footerLinks {
	display: flex;
    justify-content: space-between;
    width: 384px;
    margin-left: 549px;
}

.footerLinks a {
	color: #3E6385;
}

.footerLinks a:hover {
	color: rgba(128, 128, 128, 0.527);
} 
*/