html, body, #root, #app>div {
  height: 100%
}

.col-container {
  width: 100%;
}

.col4{
  z-index: 0;
  position: absolute;
  width: 30%;
  top: 0%;
  right: 0%;
  padding: 16px;
  height: 93%;
  text-align: center;
  background-color: #3E6385;
  margin-top: 60px;
  
}

.col3{
  margin-top: 60px;
  z-index: 1;
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 16px;
  height: 93%;
  width: 70%;
  text-align: center;
  background-color: #d6d3d3;
  box-shadow: 10px 0px 10px -8px #363636;

}
.heading-container{
  position: relative;
  top:35%;
  width: 70%;
  margin: 0 auto;
}

.auth-links{
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.auth-link{
  width: 49%;
  padding: 1rem;
}

.heading{
  font-size: 2rem;
  padding: 20px;
}

.form-container{
  position: relative;
  top:30%;
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff

}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.form-input{
  height: 40px;
  margin: 5px auto;
  width: 75%;
  border: none;
  border:solid 1px #ccc;
  border-radius: 10px;
}