.App {
    text-align: center;
  }

  .mapboxgl-canvas {
    position:absolute;
     top:0;
      bottom:-60px;
       width:100%;
    
   top:-60px;
    /* position: fixed !important; */
     height: 100% !important;
  }
  .map-overlay h2{
    color:white;
  }
  /* <div className='map-overlay' id='total'> */

  
  .map-overlay h3{
    color:white;
  }
.map-overlay #pd p{
  color:white;
}
p {
  color:white;
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}
.map.mapboxgl-map{
  margin-top:60px;
 margin-bottom:-60px;
}

.geocoder {
  position:absolute;
  z-index:1;
 top:50%;
 left:40%;
 right:70%;
  }

  .mapboxgl-ctrl-geocoder { min-width:100%; }
/* .mapboxgl-ctrl-geocoder{

  display:flex;
}
.mapboxgl-ctrl-geocoder--input{
    justify-content: center;
  align-items:center;
} */
/**
* Create a position for the map
* on the page */
@media(max-width:500px){
  .map.mapboxgl-map{
    width:75%;
  }
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
  margin-top:100px;
  position: absolute;
  bottom: 0;
  right: 0;
  color:white;
  background:#1E2F40;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  position:absolute;
  color:white;
  top: 70%;
  left:5%;
  height: 100px;
  margin-top: 85px;
  margin-right:35px;
  width: 250px;
  box-shadow:5px 5px 5px black;
}

#total {
  width:60%;
  height:100px;
  
}
#legend {

  margin-right:10px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.left-drawer div button{
  z-index:6
}


.right-drawer div button{
  z-index:6;
  position: absolute;
  right: 0%;
  top: 9%
}